/* Responsividade*/
@media screen and (max-width: 1015px) {
    .header-navigation {
      flex-direction: row; 
      align-items: center;
    }
  
    .header-search {
      position: static;
      transform: none;
      width: 90%; 
      max-width: 400px;
    }
  
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* Ajustando para 3 colunas*/
    }
  
    .offer-list_item {
      grid-template-columns: 1fr 1fr; /* Ajustando para 2 colunas*/
    }
  
    .play .fa-play {
      top: 100px; 
      right: 8px; 
      font-size: 16px; 
    }

    .playlist-section {
      height: 207vh; 
    }
  }
  
  /* Responsividade para telas com largura até 768px */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Ajustando para 1 coluna em telas ainda menores */
    }
  
    .header-navigation {
      flex-direction: row;
      align-items: center;
    }
  
    .header-search {
      width: 100%; 
      max-width: 300px;
    }
  }
  